/* This is a CSS file. If you would like to learn more about CSS, check out this page: https://www.w3schools.com/css/ */

p{
    font-size: 16px;
    color: white;
    background-color: grey;
    border-radius: 4px;
    padding: 4px 8px;
}